@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	/* font-family: 'Wotfard',Futura,-apple-system,sans-serif; */
	/* font-family: "-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,Oxygen-Sans,Ubuntu,Cantarell,\"Helvetica Neue\",sans-serif"; */
	height: 100%;
}

.highlighted-text::selection {
	background-color: #d7061d;
	color: #fff;
}

.text_link {
	color: #d7061d;
}
